.section{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

@media (max-width: 768px) {
  .section {
    flex-direction: column;
  }
}